* {
  box-sizing: border-box; /* Define o tamanho de toda o documento*/
  font-family: 'Roboto', sans-serif; /* Define a fonte de todo o documento*/
}

:root { /* Variáveis da paleta de cores */
  --primary: #FFBD14;
  --black: #000000;
  --blackLighter: #9e9e9e;
  --grayLight: #f5f5f5;
  --grayMedium: #e5e5e5;
  --white: #FFFFFF;
  --frontEndBorder: #6BD1FF;
  --backEndBorder: #00C86F;
}

html, body { /* Define margin e padding como 0 */
  margin: 0;
  padding: 0;
}

a { /* Cor de links vão herdar a o elemento pai*/
  color: inherit;
}

#root {
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}